# Keybindings require three things to be fully defined: A selector that is
# matched against the focused element, the keystroke and the command to
# execute.
#
# Below is a basic keybinding which registers on all platforms by applying to
# the root workspace element.

# For more detailed documentation see
# https://atom.io/docs/latest/advanced/keymaps
'atom-workspace':
  'cmd-alt-n': 'elitecsv:toggle'
  'f9' : 'elitecsv:run-selected'
  'ctrl-f9' : 'elitecsv:run-from'
  'f6' : 'elitecsv:toggle-report'

  'ctrl-insert': 'tablr:insert-row-before'
  'ctrl-delete': 'tablr:delete-row'
  'ctrl-alt-insert': 'tablr:insert-column-after'
  'ctrl-alt-delete': 'tablr:delete-column'
  'cmd-alt-delete': 'tablr:delete-column'

# '.platform-win32 atom-text-editor':
#   'cmd-f9' : 'elitecsv:run-from'

'.select-list atom-text-editor[mini]':
  "ctrl-enter": "elitecsv:confirm-with"
