@import "ui-variables";

// Highlight matched text
.elitecsv-palette .list-group .character-match {
  color: @text-color-info;
  font-weight: bold;
}

.elitecsv-palette {

  //max-height: 500px;
}
.elitecsv-palette .list-group {
  //max-height: 500px;
  li {
    white-space: normal;
  }
  div{
    &.left, &.right{
      display: inline-block;
    }
  }

  .left {
    width: 50%;
    text-align: left;
  }
  .right {
    width: 50%;
    vertical-align: top;
    text-align: right;
  }


  .block0, .block1, .block2, .block3 {
    display: inline-block;
    margin-right: 5px;

    .item {
      font-weight: normal;
      font-size: 0.9em;
      background: @button-background-color;
      border-radius: 3px;
      padding: 2px 4px;
      margin-left: 5px;
    }
  }

  .block1 {
    color: @text-color-info;
  }

  .block2 {
    color: @text-color-success;
  }

  .block3 {
    color: @text-color-warning;
  }
}
