// The ui-variables file is provided by base themes provided by Atom.
//
// See https://github.com/atom/atom-dark-ui/blob/master/stylesheets/ui-variables.less
// for a full listing of what's available.
@import "ui-variables";
@import "resizable-view";

tablr-editor {
	.active {
		z-index: 1000 !important;
	}
	* {
    z-index: 1
  }
	.syntax--bold {
		font-weight: bold;
	}
	.syntax--default {
		//text-decoration: underline;
	}
	.syntax--temporary {
		font-style: italic;
	}
	.release-passed { color: @text-color-success }
	.release-failed { color: @text-color-error }
	.passed {
		&:before {
			content: '';
	    position: absolute;
	    left: 0;
	    top: 0;
	    //right: 0;
	    bottom: 0;
	    border: 1px solid  @text-color-success;
		}
		//color: @text-color-success
	}
	.failed {
		&:before {
			content: '';
			position: absolute;
			left: 0;
			top: 0;
			//right: 0;
			bottom: 0;
			border: 1px solid  @text-color-error;
		}
		//color: @text-color-error
	}
}

.smartcsv-control-panel {
	float: right;
	.entry {
		margin-right: 10px;
	}
	.release {
		width: 100px;
		height: 22px;
		color: @app-background-color;
		padding: 5px 5px;
	}
}

#smartcsv {
	.column-color-1 {	color: @ui-site-color-5;	}
	.column-color-2 {	color: @ui-site-color-1;	}
	.column-color-3 {	color: @ui-site-color-3;	}
	.column-color-4 {	color: @ui-site-color-2;	}
	.column-color-5 {	color: @ui-site-color-4;	}

	.throbber {
		margin: 22px 117px;
	}
	.group-list {
	}
	.list-item {

		display: relative;
		&.type-report-case-new {
			margin-top: 20px;
			padding: 5px 0px;
			background-color: @text-color-highlight;
			color: @app-background-color;
			text-size: 1.2em;
			font-weight: 500;
			.num {
				display: none;
			}
		}
		.failed {
			color: @text-color-error;
		}
		.num {
			display: inline-block;
			width: 20px;
			height: 100%;
			text-align: right;
			//color: @background-color-highlight;
			font-weight: 500;
			padding: 1px 5px;
			white-space: nowrap;
		}
		.name {
			display: absolute;
			left: 0;
			padding: 1px 3px;
			padding-left: 10px;
			.actual {
				padding-left: 2px;
			}
			table {
				width: 100%;
				tr {
					&:nth-child(odd){
						background: @background-color-highlight;
					}
					&:nth-child(even){
						background: @background-color-selected;
					}
				}
				td {
					vertical-align: top;
					padding: 2px 4px;
				}
			}
		}

		.comment {
			color: @text-color-info;
		}
		//background-color: @text-color-subtle;
		//border: 1px solid @text-color-warning;
		/*&:nth-child(odd) {
			//background-color: @app-background-color;
		}
		&:before {
			width: 18px;
			//height: 18px;

			//background-color: @text-color-warning;
			color: @text-color-error
		}*/
	}

}

#runner {
  font-size: @font-size;
  font-family: @font-family;
  opacity: 1;
  box-shadow: inset -3px 0 0 rgba(0,0,0, .05);

	.world {
		.end {
			color: red;
		}
	}


  .icon-text {
    display: inline-block;
    -webkit-font-smoothing: antialiased;
    text-decoration: none;
		color: @text-color-success;
    font-size: 11px;
    font-weight: bold;
    font-family: Inconsolata, Monaco, Consolas, 'Courier New', Courier;
    vertical-align: text-top;
    height: 16px;
  }

  .icon-base {
    .icon-text();

    font-family: 'classmethod';
    width: 16px;
    line-height: 13px;
    font-size: 16px;
  }

  .icon-class:before {
    .icon-base();

    content: "\30";
  }

  .icon-bound:before {
    .icon-base();

    content: "\61";
  }

  .icon-unbound:before {
    .icon-base();

    content: "\41";
  }

  .icon-unbound-static:before {
    .icon-base();

    content: "\43";
  }

  a.icon.text-error {
    color: @text-color-error;
  }
}
